.conteiner{

}

.head-box__img{
    display: flex;
    flex-direction: column;
    column-gap:30px;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

@media (min-device-pixel-ratio: 2),
 (-webkit-min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {

 }